.hidden {
	display: none;
}
.map-container {
	width: 100%;
	// margin: 50px 0 3000px;
}
.map-container iframe{
	width: 100%;
	display: block;
	pointer-events: none;
	position: relative; /* IE needs a position other than static */
}
.map-container iframe.clicked{
	pointer-events: auto;
}

.flex {
	display: flex;
    word-wrap: break-word;
}