// This needs review, including colors: https://www.google.com/design/spec/style/typography.html#typography-styles

// adjust up the h6 weight
h6 {
  font-weight: 500;
}

.text-black {
  color: black;
}

.text--yellowgreen {
  color: yellowgreen;
}
.text--green {
  color: #1D9E5F;
}

.p1 {
  font-size: 5.5rem;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: normal;
}

.welcome-subtext {
  font-size: 1.3rem;
  color: dimgray;
}

@media only screen and (max-width: 600px) {
  h5 {
    font-size: 1rem;
    font-weight: 400 !important;
  }
} 